<!DOCTYPE html>
<html>

<head>
    <title>Фільми</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>


<body>
    <h1>Мої улюблені фільми</h1>
    <hr>
    <ol>
        <li>Опенгеймер</li>
        <li>Початок</li>
        <li>Top Gun</li>
        <li>Ножі наголо</li>


    </ol>

</body>

</html>