<!DOCTYPE html>
<html>

<head>
    <title>Мої цілі</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Мої цілі</h1>
    <ul>
        <li>Вивчити node.js</li>
        <li>Вивчити react.js</li>
        <li>Вивчити vue.js</li>
    </ul>
</body>

</html>