<!DOCTYPE html>
<html>

<head>
    <title>Новини</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>


<body>
    <h1>Новини</h1>
    <hr>
    <ol>
        <li>Новини в країні</li>
        <li>Новини в світі</li>
        <li>Погода</li>
        <li>Ціни на валюту</li>
    </ol>

</body>

</html>