<!DOCTYPE html>
<html>

<head>
    <title>Сайти</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>


<body>
    <h1>Мої улюблені сайти</h1>
    <hr>
    <ol>
        <li>Ютуб</li>
        <li>Twitch</li>
        <li>Stack Overflow</li>
        <li>Chat GPT</li>

    </ol>

</body>

</html>