<!DOCTYPE html>
<html>

<head>
  <title>Наші товари</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    table {
      border-collapse: collapse;
    }

    td,
    table {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Додати товар</h1>

  <form action="#" method="POST">
    <label>
      Назва товару
      <input type="text" placeholder="Назва товару">
    </label>
    <label> Кількість
      <input type="number" placeholder="Кількість">
    </label>

    <button type="submit">Додати</button>
  </form>
</body>

</html>