<!DOCTYPE html>
<html>

<head>
  <title>Головна</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <nav>
    <ul>
      <li>
        <a href="/about.html">About</a>
      </li>
      <li>
        <a href="/products">Products</a>
      </li>
      <li>
        <a href="/add-products">Add products</a>
      </li>
    </ul>
  </nav>
</body>

</html>