<!DOCTYPE html>
<html>

<head>
  <title>Наші товари</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    table {
      border-collapse: collapse;
    }

    td,
    table {
      border: 1px solid black;
    }
  </style>
</head>

<body>
  <h1>Наші товари</h1>
  <ul>
    <li>Телефони</li>
    <li>Телевізори</li>
    <li>Комп'ютери</li>
    <li>Ноутбуки</li>
  </ul>
  <table>
    <tr>
      <td>Телефони</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Телевізори</td>
      <td>9</td>
    </tr>
    <tr>
      <td>Комп'ютери</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ноутбуки</td>
      <td>10</td>
    </tr>
  </table>
</body>

</html>